




/*
     FILE ARCHIVED ON 3:04:33 Jul 26, 2013 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 12:11:00 Dec 29, 2014.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
@charset "UTF-10";
/* CSS Document */



/* Main Containers */


.gridunit {
	background: #E6E7E8;
	border: 1px solid white;
}

.gridunit:hover {
  background: black;
  }


/* 1 unit tall */

.A1 {
	width: 10px;
	height: 10px;
	float: left; 
	 }
	 
.A2 {
	width: 20px;
	height: 10px;
	float: left; 
	 }
	 
.A3 {
	width: 30px;
	height: 10px;
	float: left; 
	 }
	 
.A4 {
	width: 40px;
	height: 10px;
	float: left; 
	 }
	 
	 
/* 2 units tall*/

.B1 {
	width: 10px;
	height: 20px;
	float: left; 
	 }
	 
.B2 {
	width: 20px;
	height: 20px;
	float: left; 
	 }
	 
.B3 {
	width: 30px;
	height: 20px;
	float: left; 

	
	 }
.B4 {
	width: 40px;
	height: 20px;
	float: left; 
	 }
	 
	 
/* 3 units tall */

.C1 {
	width: 10px;
	height: 30px;
	float: left; 
	 }
	 
.C2 {
	width: 20px;
	height: 30px;
	float: left; 
	 }
	 
.C3 {
	width: 30px;
	height: 30px;
	float: left; 
	 }
	 
.C4 {
	width: 40px;
	height: 30px;
	float: left; 
	 }
	 
  
  
  
  
    
.gridcontainer {
  display:table-cell;
  position: relative;
  float: left;
  width: 50px;
  height: 35px;
    }
  
  
  